<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que eh construido</h1>
        </div>
        <div class="row ">
            <div class="card third">
                <h3>Mailer app</h3>
                <p> Una aplicacion que envia correos utilizando una API de sengrid</p>
                <a class="orange" target= _blank href="https://powerful-refuge-70816.herokuapp.com/">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes </h3>
                <p> Una aplicacion que me ayuda a gestionar mis clientes</p>
                <a class="orange" href="{{ url_for('static', filename = 'libreta-clientes.zip') }}">Link aqui Mac</a><br>
                <a class="orange" href="{{ url_for('static', filename = '#') }}">Link aqui Windows</a>
                
                
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p> Una aplicacion para gestiona mis tareas</p>
                <a class="orange" href="{{ url_for('static', filename = 'db') }}">Link aqui Mac</a><br>
                <a class="orange" href="{{ url_for('static', filename = '#') }}">Link aqui Windows</a><br>
            </div>
        </div>
    </div>
</div>